body
{
   background-image: url('http://mnwgy5ctmb57m5m6.onion/s/bg.jpg');
   background-repeat: no-repeat;
   background-position: top center;
   background-attachment: fixed;
}   
#HeaderBox
{
   background-color: transparent;
   border: none;
   padding-top: 15px;
   padding-bottom: 15px;
}
#LogoBox
{
   height: 5em;
}
#HeaderBoxContent
{
   background-color: #fff;
   padding: 0em;
}
#PageTitle
{
   color: #EF6C00;
   font-size: 50px;
}
#TitleBox
{
   float: left;
   height: auto;
}
#LoginFormBox
{
   color: #EF6C00;
   padding: 0px;
}
#UserBox
{
   height: auto;
}
#ContentBox
{
   background-color: #fff;
   color: #EF6C00;
}
#NodeIntroPresentation
{
   border-bottom: 1px solid #EF6C00;
   text-align: left;
   color: #EF6C00;
}
#SubmissionTabsContentBox
{
   padding-top: 0px;
}
#StepTitle
{
   border-bottom: 1px solid #EF6C00;
}
#SubmitButton
{
   background-color: #EF6C00;
   color: #fff;
}
#ReceiptButton
{
   background-color: #EF6C00;
   border-color: #EF6C00;
   color: #fff;
}
#AttributionClause
{
   background-color: #fff;
   color: #EF6C00;
}
#FooterBox
{
   padding: 0px;
   border: 0px;
   background-color: #fff;
}
button.btn.btn-primary
{
   background-color: #EF6C00;
   border-color: #EF6C00;
   color: #fff;
}
button.btn.btn-primary:hover
{
   background-color: #EF6C00;
   border-color: #EF6C00;
   color: #fff;
}
button.btn.btn-primary:active
{
   background-color: #EF6C00;
   border-color: #EF6C00;
   color: #fff;
}
#fileupload
{
   background-color: #EF6C00;
   border-color: #EF6C00;
   color: #fff;
}
#comment-action-send
{
   background-color: #EF6C00;
   border-color: #EF6C00;
   color: #fff;
}
#StepDescription
{
   padding-bottom: 15px;
}
#NodeIntroDescription
{
   padding-top: 15px;
}
