<section id='about'>
   <div class='container'>
      <section class='wrapper articles'>
         <header class='header'>
            <h3 class='title'>About me</h3>
         </header>
         <section class='body'>
             <p>I am Germán Fuentes Capella, a software engineer always open to new challenges.
                I got into the finance world by chance and found out a dynamic and vibrant ecosystem, with many
                market niches still to be explored.
             </p>
             <p>
                In my initial steps, I worked as an engineer performing
                integrations with acquirers and payment processors. It was at that time when I got in love with this
                sector. Having to deal with the continuous burden of incomplete specifications, unstable environments
                and undocumented "jewels" allowed me to grow in my career and expand my ability to handle situations where
                there is no clear win.
             </p>
             <p>
                At the moment of highest growth in the company, I moved on to lead the engineering team specialized on
                such integrations, more than doubling its size in 15 months. For that, the whole engineering process
                around the integrations had to be reworked, escaling it was not only a target, but our only chance to
                succeed.
             </p>
             <p>All in all, I have led, managed or developed almost 200 integrations. That is my figure.</p>
         </section>
      </section>         
   </div>
</section>
