<section id='about'>
   <div class='container'>
      <section class='wrapper articles'>
         <header class='header'>
            <h3 class='title'>About me</h3>
         </header>
         <section class='body'>
             <p>I am Germán Fuentes Capella, a software engineer always open to new challenges.</p>
             <p>I got into the finance world by chance and found out a dynamic and vibrant ecosystem, with many
                market niches still to be explored. Since 2011, I have performed multiple roles, from pure engineering
                to project management, team and department leading, as well as product management.
             </p>
             <p>If you want to learn a bit more, check my Linkedin.</p>
         </section>
      </section>         
   </div>
</section>
