<section id='groups'>
   <div class='container'>
      <section class='wrapper articles'>
         <header class='header'>
            <h3 class='title'>Groups</h3>
         </header>
         <section class='body'>
            <div class='group'>
                <span class='group-logo'> {% include icons/pydresden.html %} </span>
                <div class='group-name'>
                    <div>PyDresden - Python User Group in Dresden</div>
                    <div><a href="http://pydresden.org">PyDresden.org</a></div>
                </div>
            </div>
         </section>
      </section>         
   </div>
</section>
