<article class='project'>
    <p>Press Conduit is a cloud solution for journalists only, that allows sources to interact anonymously with them.
    </p>
    <p>Do you want to send me a Conduit? The process is pretty simple:</p>
    <p>
        <ol>
            <li>Download <a href='https://www.torproject.org/download/download'>Tor Browser</a>.</li>
            <li>Go to: <a href='http://mnwgy5ctmb57m5m6.onion'>My Conduit</a>.</li>
            <li>Leave me a message anonymously</li>
        </ol>
    </p>
    <p>Press Conduit is based on <a href='https://www.globaleaks.org/'>GlobaLeaks</a>, the Open-Souce Whistleblowing
    Platform.</p>
</article>
