<article class='project'>
   <div class="Table">
    <div class="Row">
        <div class="Heading">
            <p>VPS Tools</p>
        </div>
        <div class="Cell">
            <span class='project-logo'> {% include icons/vps-logo.html %} </span>
        </div>
    </div>
    <div class="Row">
        <div class="Heading">
            <p>Introduction</p>
        </div>
        <div class="Cell">
            <p>Virtual Private Server Tools aims at providing an out of the box toolset to provision infrastructure.
            In order to do it, high-level provisioning tools get build on top of vendor-specific utilities,
            abstracting from the peculiarities of each service.
            </p>
        </div>
    </div>
    <div class="Row">
        <div class="Heading">
            <p>Repository</p>
        </div>
        <div class="Cell">
            <p><a href="https://github.com/germfue/vps-tools">https://github.com/germfue/vps-tools</a></p>
        </div>
    </div>
    <div class="Row">
        <div class="Heading">
            <p>License</p>
        </div>
        <div class="Cell">
            <p>BSD</p>
        </div>
    </div>
</div>
</article>
