<article class='project'>
   <div class="Table">
    <div class="Row">
        <div class="Heading">
            <p>Salty Leak</p>
        </div>
        <div class="Cell">
            <span class='project-logo'> {% include icons/saltyleak-logo.html %} </span>
        </div>
    </div>
    <div class="Row">
        <div class="Heading">
            <p>Introduction</p>
        </div>
        <div class="Cell">
            <p>SaLt State files for installing Globaleaks
            </p>
        </div>
    </div>
    <div class="Row">
        <div class="Heading">
            <p>Repository</p>
        </div>
        <div class="Cell">
            <p><a href="https://github.com/germfue/saltyleak">https://github.com/germfue/saltyleak</a></p>
        </div>
    </div>
    <div class="Row">
        <div class="Heading">
            <p>License</p>
        </div>
        <div class="Cell">
            <p>BSD</p>
        </div>
    </div>
</div>
</article>
